@import 'setup';
@import 'global';

nav {
	img {
		margin-right : 40px;
		width        : 110px;
	}
	.nav-list {
		justify-content : space-between;
		width           : 100%;
	}
	ul {
		align-items : center;
		li {
			padding : 0 15px;
		}
	}
	a {
		font-weight : 300;
	}
	a:hover {
		color : $secondaryText;
	}
}
header {
	.container > div {
		padding : 50px 0;
		&:first-child {
			width : 40%;
		}
		&:last-child {
			width : 60%;
		}
	}
	h1 {
		position : relative;
		&::after {
			position : absolute;
			content  : url('../../public/assets/decoration-square-dots.svg');
			width    : 35px;
			height   : 35px;
			right    : -70px;
			top      : 25px;
		}
		+ p {
			padding-right : 60px;
		}
	}
}

.hero-img {
	background-image    : url('../../public/assets/hero-img.png');
	background-position : right;
	background-size     : contain;
	background-repeat   : no-repeat;
}

.helpful-links {
	padding       : 0;
	border-top    : 1px solid $primaryBorder;
	border-bottom : 1px solid $primaryBorder;
	.flex {
		justify-content : space-between;
	}
	ul li {
		margin   : 0 15px;
		position : relative;
		&::after {
			position     : absolute;
			content      : '';
			border-right : 1px solid $darkGrey;
			top          : 0;
			bottom       : 0;
			right        : -15px;
		}
		&:last-of-type::after {
			border-right : none;
		}
	}
	a {
		font-size       : 15px;
		text-decoration : none;
		color           : $primaryText;
		transition      : 0.2s all ease;
		&:hover {
			color : $secondaryText;
		}
	}
}
.feature {
	position : relative;
	&::after {
		position : absolute;
		content  : url('../../public/assets/decoration-wave.svg');
		width    : 35px;
		right    : 100px;
		bottom   : -40px;
	}
	h2 {
		padding-right : 40px;
	}
	.flex {
		justify-content : space-between;
		align-items     : center;
		& > div:first-of-type {
			width : 40%;
		}
		& > div:last-of-type {
			width : 50%;
		}
	}
	.feature-img img {
		width : 100%;
	}
	.accordion {
		a {
			text-decoration : none;
			color           : $primaryText;
			display         : block;
			padding         : 10px 100px 10px 25px;
			position        : relative;
			border-bottom   : 1px solid $primaryBorder;
			&::after {
				position : absolute;
				content  : url('../../public/assets/chevron-down.png');
				width    : 25px;
				right    : 35px;
				top      : 35px;
			}
			p {
				font-size   : 16px;
				line-height : 1.5;
				color       : $secondaryText;
			}
		}
		.selected {
			box-shadow    : $box-shadow;
			border-left   : 2px solid $lightPurple;
			border-bottom : none;
			&::after {
				transform : rotate(180deg);
				top       : 25px;
				width     : 25px;
			}
		}
	}
}

.reviews {
	.flex {
		justify-content : space-between;
	}
	article {
		background    : white;
		width         : 49%;
		padding       : 40px;
		border-radius : 5px;
		box-shadow    : 0 2px 12px 2px rgba(0,0,0,0.07);
		&:first-of-type {
			border-left : 5px solid $orange;
		}
		&:last-of-type {
			border-left : 5px solid $green;
		}
	}
	blockquote {
		color       : #323B43;
		margin      : 30px 0;
		line-height : 1.5;

	}
	.review-author {
		justify-content : unset;
		align-items     : center;
		img {
			width  : 60px;
			height : 60px;
		}
		div {
			width        : 80%;
			padding-left : 15px;
		}
		p {
			margin : 5px;
		}
		p:not(.bold) {
			color: $secondaryText;
		}
	}
}

footer {
	color    : white;
	position : relative;
	&::before {
		position : absolute;
		content  : url('../../public/assets/decoration-triangle.svg');
		top      : -50px;
		left     : 3%;
	}
	.container {
		background-color : $purple;
		padding          : 20px 70px;
		border-radius    : 5px;
	}
	.flex {
		justify-content : space-around;
		align-items     : center;
		> div:first-of-type {
			width : 45%;
		}
		> div:last-of-type {
			width      : 30%;
			text-align : center;
		}
	}
	p {
		line-height : 1.5;
	}
}


@media (max-width: $size-lg) {
	.feature h2 {
		padding-right : 0;
	}
}
@media (max-width: $size-md) {
	header .flex {
		flex-direction : column;
		> div:first-child,
		> div:last-child {
			width      : 100%;
			min-height : 300px;
			padding    : 0 5%;
		}
		> div:last-child {
			background-position : center;
		}
		h1 + p {
			padding-right : 0;
		}
	}

	.helpful-links {
		ul li {
			text-align : center;
		}
	}
	.feature {
		.flex {
			& > div:first-of-type {
				width : 45%;
			}
		}
	}
	footer {
		padding : 40px 15px;
		.flex {
			padding : 20px;
			> div:first-of-type,
			> div:last-of-type {
				width : 50%;
			}
		}
	}
}

@media (max-width: $size-sm) {
	nav {
		&.container {
			padding : 10px 15px;
		}
		.flex ul {
			display : none;
		}
	}
	header {
		h1::after {
			right : -30px;
		}
		a {
			margin-bottom : 30px;
		}
	}
	.helpful-links {
		text-align : center;
		img {
			display : none;
		}
		.flex {
			flex-direction : column;
		}
		a {
			padding : 5px 0;
		}
		ul li {
			padding : 5px 0;
			&::after {
				border-right : none;
			}
		}
	}
	.feature {
		.flex {
			flex-direction : column;
			& > div:first-of-type,
			& > div:last-of-type  {
				width : 100%;
			}
		}
		.feature-img {
			margin-top : 30px;
			text-align : center;
			img {
				width : 80%;
			}
		}
	}
	.reviews {
		.container.flex {
			flex-direction : column;
		}
		article {
			width : 100%;
			&:first-of-type {
				margin-bottom : 20px;
			}
		}
	}
	footer {
		.flex {
			flex-direction : column;
			> div:first-of-type,
			> div:last-of-type {
				width : 100%;
			}
			.cta-outline {
				margin : 20px 0;
			}
		}
	}
}