/*** Global Variables ***/
/*** Color Variables ***/
/*** Responsive Size Variables ***/
h1,
h2,
h3,
h4,
h5 {
  font-family: "Poppins", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 600; }

p,
blockquote,
li,
.cta {
  font-family: "Rubik", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 400; }

header,
section,
footer {
  padding: 70px 0; }

ul {
  padding-left: 0; }
  ul li {
    list-style-type: none; }

.bold {
  font-weight: 600; }

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .flex > div {
    width: 50%; }

/*** Typography ***/
h1 {
  font-size: 44px;
  font-weight: 600;
  line-height: 1.2;
  margin: 0; }
  h1 + p {
    font-family: "Rubik", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 21px;
    line-height: 1.5;
    font-weight: 400;
    color: #697279; }

h2 {
  font-size: 28px; }

h3 {
  font-family: "Rubik", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 18px; }

a {
  text-decoration: none;
  color: #000000; }

.bg-sand {
  background-color: #FAF8F5; }

.cta-arrow {
  position: relative; }
  .cta-arrow::after {
    position: absolute;
    content: url("../../public/assets/cta-arrow.svg");
    width: 7px;
    height: auto;
    right: 20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }

.cta-gradient {
  display: inline-block;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #433CB7), to(#FE7CD7));
  background: linear-gradient(90deg, #433CB7 50%, #FE7CD7 100%);
  text-decoration: none;
  border-radius: 25px;
  padding: 15px 40px 15px 15px;
  color: white;
  font-size: 15px;
  font-family: "Rubik", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease; }
  .cta-gradient:hover {
    background: -webkit-gradient(linear, left top, right top, from(#FE7CD7), color-stop(70%, #433CB7));
    background: linear-gradient(90deg, #FE7CD7 0%, #433CB7 70%);
    padding: 15px 42px 15px 15px; }

.cta-outline {
  display: inline-block;
  background: transparent;
  text-decoration: none;
  border-radius: 25px;
  padding: 10px 45px 10px 35px;
  color: white;
  border: 1px solid white;
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease; }
  .cta-outline:hover {
    background: rgba(255, 255, 255, 0.1);
    padding: 10px 48px 10px 35px; }

.cta-grey {
  display: inline-block;
  background: #F7F7F7;
  text-decoration: none;
  border-radius: 25px;
  padding: 10px 25px;
  color: #000000;
  font-weight: 500;
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
  font-size: 14px; }
  .cta-grey:hover {
    background: #e6e5e5;
    color: #000000; }

@media (max-width: 1200px) {
  .container {
    padding: 0 15px; } }

@media (max-width: 992px) {
  header,
  section {
    padding: 40px 0; } }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/*** Global Variables ***/
/*** Color Variables ***/
/*** Responsive Size Variables ***/
h1,
h2,
h3,
h4,
h5 {
  font-family: "Poppins", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 600; }

p,
blockquote,
li,
.cta {
  font-family: "Rubik", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 400; }

header,
section,
footer {
  padding: 70px 0; }

ul {
  padding-left: 0; }
  ul li {
    list-style-type: none; }

.bold {
  font-weight: 600; }

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .flex > div {
    width: 50%; }

/*** Typography ***/
h1 {
  font-size: 44px;
  font-weight: 600;
  line-height: 1.2;
  margin: 0; }
  h1 + p {
    font-family: "Rubik", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 21px;
    line-height: 1.5;
    font-weight: 400;
    color: #697279; }

h2 {
  font-size: 28px; }

h3 {
  font-family: "Rubik", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 18px; }

a {
  text-decoration: none;
  color: #000000; }

.bg-sand {
  background-color: #FAF8F5; }

.cta-arrow {
  position: relative; }
  .cta-arrow::after {
    position: absolute;
    content: url("../../public/assets/cta-arrow.svg");
    width: 7px;
    height: auto;
    right: 20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }

.cta-gradient {
  display: inline-block;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #433CB7), to(#FE7CD7));
  background: linear-gradient(90deg, #433CB7 50%, #FE7CD7 100%);
  text-decoration: none;
  border-radius: 25px;
  padding: 15px 40px 15px 15px;
  color: white;
  font-size: 15px;
  font-family: "Rubik", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease; }
  .cta-gradient:hover {
    background: -webkit-gradient(linear, left top, right top, from(#FE7CD7), color-stop(70%, #433CB7));
    background: linear-gradient(90deg, #FE7CD7 0%, #433CB7 70%);
    padding: 15px 42px 15px 15px; }

.cta-outline {
  display: inline-block;
  background: transparent;
  text-decoration: none;
  border-radius: 25px;
  padding: 10px 45px 10px 35px;
  color: white;
  border: 1px solid white;
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease; }
  .cta-outline:hover {
    background: rgba(255, 255, 255, 0.1);
    padding: 10px 48px 10px 35px; }

.cta-grey {
  display: inline-block;
  background: #F7F7F7;
  text-decoration: none;
  border-radius: 25px;
  padding: 10px 25px;
  color: #000000;
  font-weight: 500;
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
  font-size: 14px; }
  .cta-grey:hover {
    background: #e6e5e5;
    color: #000000; }

@media (max-width: 1200px) {
  .container {
    padding: 0 15px; } }

@media (max-width: 992px) {
  header,
  section {
    padding: 40px 0; } }

nav img {
  margin-right: 40px;
  width: 110px; }

nav .nav-list {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%; }

nav ul {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  nav ul li {
    padding: 0 15px; }

nav a {
  font-weight: 300; }

nav a:hover {
  color: #697279; }

header .container > div {
  padding: 50px 0; }
  header .container > div:first-child {
    width: 40%; }
  header .container > div:last-child {
    width: 60%; }

header h1 {
  position: relative; }
  header h1::after {
    position: absolute;
    content: url("../../public/assets/decoration-square-dots.svg");
    width: 35px;
    height: 35px;
    right: -70px;
    top: 25px; }
  header h1 + p {
    padding-right: 60px; }

.hero-img {
  background-image: url("../../public/assets/hero-img.png");
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat; }

.helpful-links {
  padding: 0;
  border-top: 1px solid #EDE9E9;
  border-bottom: 1px solid #EDE9E9; }
  .helpful-links .flex {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .helpful-links ul li {
    margin: 0 15px;
    position: relative; }
    .helpful-links ul li::after {
      position: absolute;
      content: '';
      border-right: 1px solid #697279;
      top: 0;
      bottom: 0;
      right: -15px; }
    .helpful-links ul li:last-of-type::after {
      border-right: none; }
  .helpful-links a {
    font-size: 15px;
    text-decoration: none;
    color: #697279;
    -webkit-transition: 0.2s all ease;
    transition: 0.2s all ease; }
    .helpful-links a:hover {
      color: #000000; }

.feature {
  position: relative; }
  .feature::after {
    position: absolute;
    content: url("../../public/assets/decoration-wave.svg");
    width: 35px;
    right: 100px;
    bottom: -40px; }
  .feature h2 {
    padding-right: 40px; }
  .feature .flex {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .feature .flex > div:first-of-type {
      width: 40%; }
    .feature .flex > div:last-of-type {
      width: 50%; }
  .feature .feature-img img {
    width: 100%; }
  .feature .accordion a {
    text-decoration: none;
    color: #000000;
    display: block;
    padding: 10px 100px 10px 25px;
    position: relative;
    border-bottom: 1px solid #EDE9E9; }
    .feature .accordion a::after {
      position: absolute;
      content: url("../../public/assets/chevron-down.png");
      width: 25px;
      right: 35px;
      top: 35px; }
    .feature .accordion a p {
      font-size: 16px;
      line-height: 1.5;
      color: #697279; }
  .feature .accordion .selected {
    -webkit-box-shadow: 0 1px 6px 1px rgba(0, 0, 0, 0.05);
            box-shadow: 0 1px 6px 1px rgba(0, 0, 0, 0.05);
    border-left: 2px solid #95A3F8;
    border-bottom: none; }
    .feature .accordion .selected::after {
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg);
      top: 25px;
      width: 25px; }

.reviews .flex {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.reviews article {
  background: white;
  width: 49%;
  padding: 40px;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 12px 2px rgba(0, 0, 0, 0.07);
          box-shadow: 0 2px 12px 2px rgba(0, 0, 0, 0.07); }
  .reviews article:first-of-type {
    border-left: 5px solid #F4B640; }
  .reviews article:last-of-type {
    border-left: 5px solid #90C999; }

.reviews blockquote {
  color: #323B43;
  margin: 30px 0;
  line-height: 1.5; }

.reviews .review-author {
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .reviews .review-author img {
    width: 60px;
    height: 60px; }
  .reviews .review-author div {
    width: 80%;
    padding-left: 15px; }
  .reviews .review-author p {
    margin: 5px; }
  .reviews .review-author p:not(.bold) {
    color: #697279; }

footer {
  color: white;
  position: relative; }
  footer::before {
    position: absolute;
    content: url("../../public/assets/decoration-triangle.svg");
    top: -50px;
    left: 3%; }
  footer .container {
    background-color: #4140B0;
    padding: 20px 70px;
    border-radius: 5px; }
  footer .flex {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    footer .flex > div:first-of-type {
      width: 45%; }
    footer .flex > div:last-of-type {
      width: 30%;
      text-align: center; }
  footer p {
    line-height: 1.5; }

@media (max-width: 1200px) {
  .feature h2 {
    padding-right: 0; } }

@media (max-width: 992px) {
  header .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    header .flex > div:first-child,
    header .flex > div:last-child {
      width: 100%;
      min-height: 300px;
      padding: 0 5%; }
    header .flex > div:last-child {
      background-position: center; }
    header .flex h1 + p {
      padding-right: 0; }
    header .flex h1::after {
      right: 0;
      top: 55px; }
  .helpful-links ul li {
    text-align: center; }
  .feature .flex > div:first-of-type {
    width: 45%; }
  footer {
    padding: 40px 15px; }
    footer .flex {
      padding: 40px; }
      footer .flex > div:first-of-type,
      footer .flex > div:last-of-type {
        width: 50%; } }

@media (max-width: 767px) {
  nav.container {
    padding: 10px 15px; }
  nav .flex ul {
    display: none; }
  header h1::after {
    opacity: 0.4; }
  header a {
    margin-bottom: 30px; }
  .helpful-links {
    text-align: center; }
    .helpful-links img {
      display: none; }
    .helpful-links .flex {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
    .helpful-links a {
      padding: 5px 0; }
    .helpful-links ul li {
      padding: 5px 0; }
      .helpful-links ul li::after {
        border-right: none; }
  .feature .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .feature .flex > div:first-of-type,
    .feature .flex > div:last-of-type {
      width: 100%; }
  .feature .feature-img {
    margin-top: 30px;
    text-align: center; }
    .feature .feature-img img {
      width: 80%; }
  .reviews .container.flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .reviews article {
    width: 100%; }
    .reviews article:first-of-type {
      margin-bottom: 20px; }
  footer .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    footer .flex > div:first-of-type,
    footer .flex > div:last-of-type {
      width: 100%; }
    footer .flex .cta-outline {
      margin: 20px 0; } }

@media (max-width: 400px) {
  h1::after {
    display: none; } }
